# Week 12 - Earn-Back Points Assignment #2

These exercises are entirely optional, but they provide good practice. And you can use them to earn extra points toward your semester grade.  Completing all the questions in this assignment correctly will earn you back 8 points.

There will be 2 more assignments like this between now and the end of the semester, giving you the opportunity to earn back a total of 32 points.

**If anything about the above rules is unclear, please message me on Canvas or via email**

---

## Introduction

The Centers for Medicare and Medicaid Services (CMS) provides lots of information online including a general directory of hospitals in the US. For this set of exercises, we'll be working with a file referred to as [Hospital General Information](https://data.cms.gov/provider-data/dataset/xubh-q36u). **Download this file as a CSV and upload it to your week 13 directory on Jupyter.**

Each of these exercises will involve finding an answer to a specific question and then submitting that.  Your answers must be computed using Python code within this notebook to earn full credit.

You do not need to write functions to compute the answers and do not need to provide any special documentation. You can simply calculate the answers inline in the notebook and then submit your answers using the `answers` dictionary, similar to how most of our part 1 assignments work.

In [1]:
import pandas as pd
answers = {}
df = pd.read_csv('Hospital_General_Information.csv')

---

## Tips

Before you get started, I want to show you a pattern that you might find useful. In the example below, I'm going to summarize a simple data frame, determine which name occurs most often, how often that is, and what the percent of total that represents.  This can be a useful pattern in general and you should be able to apply it below.

In [2]:
df = pd.DataFrame([
    ['Boal','Paul',45],
    ['Boal','Anny',47],
    ['Boal','James',75],
    ['Lester','Sarahlynn',48],
    ['Lester','Carolynn',70]
], columns=['Last Name','First Name','Age'])

df

  Last Name First Name  Age
0      Boal       Paul   45
1      Boal       Anny   47
2      Boal      James   75
3    Lester  Sarahlynn   48
4    Lester   Carolynn   70

In [3]:
# Which family (based on Last Name) has the most people?

# 1. Group by Last Name
# 2. Count how many people are in each family
# 3. Sort by value


by_last_name = df.groupby('Last Name')
family_count = by_last_name['Last Name'].count()
family_sorted = family_count.sort_values(ascending=False)

family_sorted

Last Name
Boal      3
Lester    2
Name: Last Name, dtype: int64

In [4]:
# 4. Extract the "index" (aka Last Name)
# 5. Choose the first value

top_family = list(family_sorted.index)[0]
top_family

'Boal'

In [5]:
# How many members does that family have?

# 6. Choose that family from the counts we already computed.

family_count[top_family]

3

In [6]:
# What percent of total is that?

# 7. Compute a total
# 8. Compute the percent

total = family_count.sum()
pct = family_count[top_family] / total

pct

0.6

---

### E12.01

How many columns are there in this data frame?

In [7]:
import pandas as pd
answers = {}
df = pd.read_csv('Hospital_General_Information.csv')

In [8]:
df.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,1,NaN,8,8,NaN,12,9,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,0,NaN,8,8,NaN,12,11,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,9,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,6,0,NaN,8,8,NaN,12,5,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,4,0,NaN,8,Not Available,5,12,5,NaN

In [9]:
df.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
       'County Name', 'Phone Number', 'Hospital Type', 'Hospital Ownership',
       'Emergency Services',
       'Meets criteria for promoting interoperability of EHRs',
       'Hospital overall rating', 'Hospital overall rating footnote',
       'MORT Group Measure Count', 'Count of Facility MORT Measures',
       'Count of MORT Measures Better', 'Count of MORT Measures No Different',
       'Count of MORT Measures Worse', 'MORT Group Footnote',
       'Safety Group Measure Count', 'Count of Facility Safety Measures',
       'Count of Safety Measures Better',
       'Count of Safety Measures No Different',
       'Count of Safety Measures Worse', 'Safety Group Footnote',
       'READM Group Measure Count', 'Count of Facility READM Measures',
       'Count of READM Measures Better',
       'Count of READM Measures No Different', 'Count of READM Measures Worse',
       'READM Group Footnote', 'Pt Exp Group Measure Count',
       'Count of Facility Pt Exp Measures', 'Pt Exp Group Footnote',
       'TE Group Measure Count', 'Count of Facility TE Measures',
       'TE Group Footnote'],
      dtype='object')

In [10]:
col_hosp = len(df.columns)
col_hosp

38

In [11]:
answers['E12.01'] = col_hosp

### E12.02

How many hospitals are there in this file? (Each row is one hospital.)

In [12]:
rows_hosp = len(df)
rows_hosp

5307

In [13]:
answers['E12.02'] = rows_hosp

### E12.03

How many hospitals from Missouri (state abbreviation MO) are in this file?

In [14]:
hosp_state = df['State']== 'MO'
hosp_MO= len(df[hosp_state])
hosp_MO
answers['E12.03'] = hosp_MO

### E12.04

How many different ZIP Codes from Misouri are represented in this file?

In [15]:
hosp_ZIP = df[hosp_state]
ZIP = hosp_ZIP['ZIP Code'].nunique()
ZIP

109

In [16]:
answers['E12.04'] = ZIP

### E12.05

Which of those ZIP Codes has the most hospitals?  If it's a tie, submit your answer as a list of ZIP Codes.  Make sure your answer is submitted as a string or list of strings. Do not submit the ZIP Code values as numbers.

In [17]:
code_ZIP =  hosp_ZIP.groupby('ZIP Code')['Facility Name'].count()
max_ZIP= code_ZIP.sort_values(ascending = False).index.map(str)

In [18]:
MO_ZIP = list(max_ZIP)[0:2]
MO_ZIP

['64108', '63110']

In [19]:
answers['E12.05'] = MO_ZIP

#### E12.06

Which state has the most hospitals?

In [20]:
most_State = df.groupby(['State'])['Facility ID'].max()

In [21]:
most_hosp = most_State.sort_values(ascending = False).index[0]
most_hosp

'TX'

In [22]:
answers['E12.06'] = most_hosp

### E12.07

How many different Hospital Types are there in this file?

In [23]:
hosp_type = df['Hospital Type'].nunique()

In [24]:
hosp_type

5

In [25]:
answers['E12.07'] = hosp_type

### E12.08

Which Hospital Type has the greatest number of files?

In [26]:
max_file = df['Hospital Type'].value_counts().index[0]

In [27]:
max_file

'Acute Care Hospitals'

In [28]:
answers['E12.08'] = max_file

### E12.09

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) is represented in that Hospital Type?

In [29]:
hosp_count = df['Hospital Type'].value_counts().max()
hosp_count

3223

In [30]:
total = df['Hospital Type']
total_hosp = total.count()
total_hosp

5307

In [31]:
hosp_pct = round(hosp_count / total_hosp * 100, 2)
hosp_pct

60.73

In [32]:
answers['E12.09'] = hosp_pct

### E12.10

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) provide Emergency Services?

In [33]:
emerg = df['Emergency Services'].value_counts()['Yes']

In [34]:
pct_emerg = round((emerg / len(total) * 100), 2)

In [35]:
pct_emerg

83.89

In [36]:
answers['E12.10'] = pct_emerg

## Submit your work to github in your week 13 folder by 12/5 11:59 PM

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [37]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12EB",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>7}{1:>30}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>7}{1:>30}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

     Q#                         Yours  Correct?
 E12.01                            38        OK
 E12.02                          5307        OK
 E12.03                           119        OK
 E12.04                           109        OK
 E12.05            ['64108', '63110']        OK
 E12.06                            TX        OK
 E12.07                             5        OK
 E12.08          Acute Care Hospitals        OK
 E12.09                         60.73        OK
 E12.10                         83.89        OK

## Submit your work to github in your week 13 folder by 12/5 11:59 PM